<div class="container-md">
  <div class="row py-5 justify-content-center">
    <div class="py-3">
      <input type="text" [(ngModel)]="searchTerm" class="form-control" placeholder="search">
    </div>
    @for (person of persons | search:searchTerm:'name'; track person.id) {
      <div class="col-md-2">
        <img [src]="imgPrefix+person.profile_path" alt="" class="w-100 mb-2">
        <p class="h6">⭐{{person.popularity.toFixed(1)}}</p>
        <h3 class="h6 mb-3 mt-1">{{person.name}}</h3>
      </div>
    }
    @empty {
      List is Empty
    }
  </div>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination  justify-content-center">
      <li class="page-item cursor-pointer">
          <a class="page-link" aria-label="Previous" (click)="previousPage()" [class.disabled]="currentPage === 1">
              <span aria-hidden="true">Previous</span>
          </a>
      </li>
  <ng-container *ngFor="let page of pages">
    <li style="cursor: pointer;" class="page-item" [class.active]="currentPage === page" (click)="onChangePage(page)">
      <a class="page-link cursor-pointer" >{{ page }}</a></li>
    </ng-container>
      <li class="page-item cursor-pointer">
          <a class="page-link" aria-label="Next" (click)="nextPage()" [class.disabled]="currentPage === pageItems">
              <span aria-hidden="true">Next</span>
          </a>
      </li>
  </ul>
</nav>
